@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 16, 20, 30;
  --background-start-rgb: 16, 20, 30;
  --background-end-rgb: 16, 20, 30;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


* {
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
  
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  
}

.popup-content {
  background-color: #161D2F;
  padding: 20px;
}


.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.fade-slide {
  transform:  translateX(0) translateY(0);


  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.fade-slide.active {
  transform: translateX(-20px) translateY(20px)
  /* transform: translateX(-20px); */
}

.bullet {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 5px;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-iframe {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#animation-title {
  animation: fadeIn 2s ease-in-out;
}


#animation-title-delayed {
  animation: fadeIn 4s ease-in-out;
}

